:root{--tg-theme-bg-color: #efeff3;--tg-theme-button-color: #2eaddc;--tg-theme-button-text-color: white}@font-face{font-family:Starborn;src:url(font/Starborn.otf) format("opentype");font-display:swap}*{font-family:Starborn!important}
